name: Release llvm-bleach
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag release from
        required: true
        type: string
permissions:
  contents: write
jobs:
  upload-release:
    name: Upload release
    env:
      RELEASE_TAG: ${{ inputs.tag }}
    runs-on: ubuntu-22.04
    steps:
      - uses: cachix/install-nix-action@v24
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v14
        with:
          name: ajlekcahdp4-llvm-bleach-cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: '${{ inputs.tag }}'
      - name: Prepare artifacts
        env:
          GH_TOKEN: ${{ github.token }}
          REPO_NAME: ${{ github.repository }}
        run: |
          release_commit_sha=$(git rev-list HEAD)
          echo "::notice ::Will create release from tag '$RELEASE_TAG' (https://github.com/$REPO_NAME/commit/$release_commit_sha)"
          nix build .#llvm-bleach-static
          tar --xz -cvf "bleach-$RELEASE_TAG-static.tar.xz" -C result bin/ include/ lib/ share/
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create "$RELEASE_TAG" --generate-notes "bleach-$RELEASE_TAG-static.tar.xz" --draft
